{
    auto_https off
}

localhost

tls /root/certs/localhost.pem /root/certs/localhost-key.pem

route {

    route /api/* {
        reverse_proxy lobster-backend:3000
    }

    route /public_api/* {
        reverse_proxy lobster-backend:3000
    }

    route /auth/* {
        reverse_proxy lobster-backend:3000
    }

    file_server {
        root /public
        index index.html
    }
}
